{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.profile.join_date }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {% comment %} {% for photo in profile.photo_set.all %}
              <img class="responsive-img card-panel" src="{{photo.url}}">
              {% empty %}
              <div class="card-panel teal-text center-align">No Photos Uploaded</div>
              {% endfor %}
              <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %} {% endcomment %}
                <input type="file" name="photo-file">
              <br><br>
                <input type="submit" class="btn" value="Upload Photo">
              </form>
              {{ user_form|crispy }}
              {{ profile_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
      {% if user == comment.user %}
      {% for comment in comments %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ comment.user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ comment.user }}</a>
              <small class="text-muted">{{ comment.comment_date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ comment.title }}</a></h2>
            <p class="article-content">{{ comment.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% endif %}
    </div>
    
{% endblock content %}