{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% comment %} 
    {% if title %}
        <title>Lemon Log - {{ title }}</title>
    {% else %}
        <title>Lemon Log</title>
    {% endif %} {% endcomment %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
          <img id="logo" src="{% static '/img/lemon cropped.png' %}" >
           {% comment %} <a class="navbar-brand mr-4" href="{% url 'home' %}" id="logo">Lemon Log</a> {% endcomment %}
          <ul class="right">
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <li><a class="nav-item nav-link" href="{% url 'home' %}">Home</a></li>
              <li><a class="nav-item nav-link" href="{% url 'about' %}">About</a></li>
              <li><a class="nav-item nav-link" href="{% url 'index' %}">View Reviews</a></li>
            </div>
             <div class="navbar-nav">
              {% if user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a></li>
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
      <main class="container">
         {% block content %}
         {% endblock %}
      </main>
       <div role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="page-footer left">
      <div class="container">
       © 2021 The Lemon Log 3 • All rights reserved
    </div>
   </div>
</body>
</html>