{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<h1> Detail </h1>

<div class="card">
  <div class="card-content">
   <span class="card-title">{{ review.title }}</span>
          <p>Brand: {{ review.product }}</p>
          <p>Description: {{ review.description }}</p>
          <p>Manufacturing Year: {{ review.rating }}</p>
          {% comment %} comment section {% endcomment %}
          <div class="col-md-12">
            {% with comments.count as total_comments %}
            <h3>
              {{total_commnets}} comment{{total_comments|pluralize}}
            </h3>
            {% endwith %}
            {% for comment in comments%}
            Comment {{forloop.comment}} by {{comment.user}} on {{comment.comment_date}}
            {{comment.content|linebreaks}}
            {% empty %}
            <p>Be the first who comments on this review</p>
            {% endfor %}
          <button class = "btn btn-outline-info" ><a href="" data-toggle="modal" data-target = "#Comment">Add Comment</a></button>
          {% comment %} comment ends here {% endcomment %}
          <div class="modal" tabindex="-1" role="dialog" id="Comment">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">New Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container"> 
                              <h2>Add a new comment</h2>
                              <form action={% url 'review_detail' review.id%} method="post">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <p><input type="submit" value="Add comment"></p>
                              </form>
                     </div>  
                  </div>
                </div>
              </div>  
            </div>
        </div>
      </div>
{% endblock %}
