{% extends "base.html" %}
{% block content %}

<h1 class="center">The Lemon Log!</h1>
<span class="center">Your blogspot for the latest tech reviews!</span>
 
{% for review in reviews %}
  <div class="column">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">{{ review.title }}</span>
          <p>Brand: {{ review.product }}</p>
          <p>Description: {{ review.description }}</p>
          <p>Manufacturing Year: {{ review.rating }}</p>
        </div> 
        <div class="card-action">
        </div>
        <form method="GET" action="{% url 'review_detail' review.id %}">
          <button>
            See the Full Review Here! 
          </button>
        </form>
    </div>
      </div>
{% endfor %}

{% endblock  %}

