{% extends 'base.html' %}
{% block content %}

<h1>Review List</h1>
<h3>Here's a list of the latest reviews!</h3>

{% for review in reviews %}
  {% comment %} <div class="row"> {% endcomment %}
      <div class="card">
        <a href="{% url 'review_detail' review.id %}">
        <div class="card-image">
          <img src="images/sample-1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">{{ review.title }}</span>
          <p>Brand: {{ review.product }}</p>
          <p>Description: {{ review.description }}</p>
          <p>Manufacturing Year: {{ review.rating }}</p>
        </div> 
        <div class="card-action">
        </div>
    </div>
      {% comment %} </div> {% endcomment %}
        </a>
{% endfor %}

{% endblock %}